<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352005476571-fs0uhgk94g3v3g0el93g8nlfkkao955p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352005476571-fs0uhgk94g3v3g0el93g8nlfkkao955p</string>
	<key>API_KEY</key>
	<string>AIzaSyBTb7aTX0bxYWbNJ4aSMQtGdVtPtBAwjd0</string>
	<key>GCM_SENDER_ID</key>
	<string>352005476571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.symmetry.news</string>
	<key>PROJECT_ID</key>
	<string>symmetry-news-test</string>
	<key>STORAGE_BUCKET</key>
	<string>symmetry-news-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352005476571:ios:e7492d684bfe6fe471bcfe</string>
</dict>
</plist>